<!DOCTYPE HTML5>
<html>
	<head th:replace="~{base :: head}"></head>
	
	<body onload="onLoad()">
	
		<div th:replace="~{base :: logo}"></div>
	
		<div class="container">
	
			<div th:replace="~{base :: title('My tasks')}"></div>
	
			<div th:replace="~{base :: user-nav}"></div>
			
			<div class="row justify-content-center">
				<div class="col-6">
					<div class="row">
					
						<div class="col-12">
							<div id="new-task-form" class="form-inline">
								<div class="row">
									<div class="col-1"></div>
									<div class="form-group col-10">
										<input class="form-control col" type="text" v-model="description" id="description" placeholder="Add a task..."/>
										<input class="form-control col" type="hidden" id="ownerUsername" th:value="${user.username}"/>
									</div>
									<div class="col-1 p-0">
										<button class="btn btn-primary" th:v-on:click="${'register(''' + user.username + ''')'}">&#128930;</button>
									</div>
								</div>
							</div>
						</div>
				
						<div id="tasks" class="col-12 p-0">
							<ul class="list-group-flush ps-0">
								<li class="list-group-item" v-for="task in tasks">
									<div class="row">
										
										<div class="col-10">{{task.description}}</div>
										
										<div class="col-1 p-0">
											<button class="btn btn-secondary" v-if="task.status === 'TODO'" v-on:click="check(task)" type="submit">&#9744;</button>
											<button class="btn btn-success" v-if="task.status === 'DONNE'" v-on:click="uncheck(task)" type="submit">&#10003;</button>
										</div>
										
										<div class="col-1 p-0">
											<button class="btn btn-danger" v-on:click="remove(task)" type="submit">&#10007;</button>
										</div>
										
									</div>
								</li>
							</ul>
						</div>
						
					</div>
				</div>
			</div>
			
		</div>
		
		<script type="text/javascript" th:src="@{/js/user/getTasks.js}"></script>
		
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</body>
</html>